<app-navbar></app-navbar>
<div class="container-fluid p-0">
    <div class="row justify-content-center">
        <div class="col-md-12 p-0">
            <div class="position-relative">
                <img style="height: 20rem; width: 100%; object-fit: cover;"
                    src="https://images.unsplash.com/photo-1535957998253-26ae1ef29506?q=80&w=1936&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    class="img-fluid" alt="...">
                <div class="students position-absolute"
                    style="bottom: 10px; left: 60px; color: white; padding: 20px; font-size: 40px; ">
                    ABOUT <br>
                    DIGIX INTERNSHIP
                </div>
            </div>
        </div>
    </div>
</div>
<div id="text" class="container mt-4">
    <p >Digix, one of the world’s largest and fastest-growing online platforms for digital solutions, offers an
        exceptional opportunity for undergraduate students through its annual 10-week paid Summer Internship program at
        our Bangkok office. This program is meticulously designed to provide ambitious students with the chance to work
        in a world-class, collaborative environment and deliver real business results. Prepare yourself for a rewarding
        summer experience unlike any other at Digix!</p>
    <div class="row justify-content-center">
        <div class="col-md-2 d-flex justify-content-center">
            <a type="button" [routerLink]="['/contentInternship']" fragment="jobdes" class="btn btn-primary rounded-pill btn-sm align-self-start">Join Now</a>
        </div>
    </div>
</div>
<div class="container">
    <div class="row text-center my-5">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <i class="bi bi-rocket-fill" style="font-size: 4rem; color:#007bff ;"></i>
                    <h5 class="card-title">Meaningful Work, Global Impact</h5>
                    <p class="card-text">As an Agoda intern, you get to exercise your creativity and execute your ideas
                        to reach millions of Agoda customers and partners around the globe. From strategy to technology,
                        no matter which team is your home, you get the chance to collaborate on projects that matter and
                        help travelers experience the world.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <i class="bi bi-journal-text" style="font-size: 4rem; color:#007bff ;"></i>
                    <h5 class="card-title">Rich Learning Opportunities</h5>
                    <p class="card-text">Join as a student, leave as a professional. Throughout the 10-week internship
                        program, you will get the chance to attend workshops conducted by Agodans that will equip you
                        with the skills to kick-start your career. By the end of the program, you will also present a
                        business case to a panel of executives.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <i class="bi bi-person-raised-hand" style="font-size: 4rem; color:#007bff ;"></i>
                    <h5 class="card-title">Truly International Environment</h5>
                    <p class="card-text">Accelerate your career through hands-on work experience alongside the brightest
                        minds of more than 90 nationalities from top-tier global companies. Our flat structure allows us
                        to stay agile, move fast, and take real ownership – bringing you along on our exciting journey
                        to build travel for the world.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <h2 class="text-center my-5">2024 Timeline</h2>

        <div class="timeline">
            <div class="timeline-item">
                <h5>Open 6th Dec 2023</h5>
                <div class="icon">
                    <i class="bi bi-briefcase-fill"></i>
                </div>
                <div class="timeline-content">
                    <h6>Application</h6>
                    <p>See below for a list of open summer internship opportunities, polish your resume, and apply now!
                        Please note that you might also be considered for a role in a different department if we think
                        it's a fit.</p>
                    <a href="#" class="link">Apply now</a>
                </div>
            </div>
            <div class="timeline-item">
                <h5>Starting Jan 2024</h5>
                <div class="icon">
                    <i class="bi bi-briefcase-fill"></i>
                </div>
                <div class="timeline-content">
                    <h6>Decision Process</h6>
                    <p>After applying, you will be contacted directly by one of our recruiters via email or phone if
                        your application is being considered. You might be sent a take-home assessment and scheduled
                        interviews before the decision is announced.</p>
                </div>
            </div>
            <div class="timeline-item">
                <h5>27th May - 2nd Aug 2024</h5>
                <div class="icon">
                    <i class="bi bi-briefcase-fill"></i>
                </div>
                <div class="timeline-content">
                    <h6>Summer Internship Program</h6>
                    <p>Congratulations! Join us on our 10-week summer internship journey, where you will make real
                        global impact, connect with lifelong friends, and most importantly, have fun!</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="jobs-container" id="jobdes">
    <h1>Position Desired</h1>
    <a href="/jobs" class="view-all-btn">View All Jobs</a>
    <table class="jobs-table">
        <thead>
            <tr>
                <th>Job</th>
                <th>Team</th>
                <th>Location</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of jobs" [routerLink]="['/jobs', item.id]" fragment="home"> 
                <td >{{item.title}}</td>
                <td>{{item.team.tag_name}}</td>
                <td>{{item.location.tag_name}}</td>
            </tr>
        </tbody>
    </table>
</div>
<app-footer></app-footer>