<body>
    <div class="container">
        <div class="image-container">
            <img src="/assets/img/Locations-Home.png" alt="Person enjoying">
        </div>
        <div class="text-container">
            <h1>Locations</h1>
            <p>
                Every Digix location is designed to inspire creativity and foster a strong community. With an atmosphere conducive to creative thinking, collaborative workspaces, and activities focused on knowledge and skill exchange, users can develop themselves and build positive relationships with others.
            </p>
            <a href="/locations"><button>View Locations</button></a>
        </div>
    </div>
</body>