<app-header></app-header>
<div class="container-fluid p-0">
    <div class="row justify-content-center">
        <div class="col-md-12 p-0">
            <div class="position-relative">
                <img style="height: 20rem; width: 100%; object-fit: cover;"
                    src="https://images.unsplash.com/photo-1716872491897-078d9b89be49?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    class="img-fluid" alt="...">
                <div class="students position-absolute"
                    style="bottom: 10px; left: 60px; color: white; padding: 20px; font-size: 40px; ">
                    Begin Your<br>
                    Journey with<br>
                    DIGIX
                </div>
                <div class="search-container position-absolute">
                    <div class="row height d-flex justify-content-center align-items-center">
                        <div class="col-md-8">
                            <div class="search">
                                <!-- <i class="bi bi-search"></i> -->
                                <input id="text" type="text" class="form-control" placeholder="Search Jobs">
                                <button class="btn btn-primary">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5 justify-content-center">
    <div class="row mt-5">
        <div class="col-md-5">
            <img style="height: 20rem; width: 100%; object-fit: cover;"
                src="https://media.istockphoto.com/id/1175768439/th/%E0%B8%A3%E0%B8%B9%E0%B8%9B%E0%B8%96%E0%B9%88%E0%B8%B2%E0%B8%A2/%E0%B8%AA%E0%B8%B2%E0%B8%A2%E0%B8%AD%E0%B8%B2%E0%B8%81%E0%B8%B2%E0%B8%A8-%E0%B8%84%E0%B8%99%E0%B9%80%E0%B8%94%E0%B8%B4%E0%B8%99%E0%B9%80%E0%B8%97%E0%B9%89%E0%B8%B2%E0%B8%9A%E0%B8%99%E0%B8%97%E0%B8%B2%E0%B8%87%E0%B8%A1%E0%B9%89%E0%B8%B2%E0%B8%A5%E0%B8%B2%E0%B8%A2-%E0%B8%A1%E0%B8%B8%E0%B8%A1%E0%B8%A1%E0%B8%AD%E0%B8%87%E0%B8%94%E0%B9%89%E0%B8%B2%E0%B8%99%E0%B8%9A%E0%B8%99.jpg?s=1024x1024&w=is&k=20&c=ot0i43jhjuBKoblWvHV5bS2xhIWFMmVN-jmL5cieGoI="
                class="img-fluid" alt="">
        </div>
        <div class="col-md-7 d-flex align-items-center justify-content-center">
            <div style="max-width: 500px; margin: auto;">
                <p class="text-justify">
                    Our approach to web application development is centered around understanding your business
                    objectives,
                    target audience, and industry landscape. We collaborate closely with you to conceptualize, design,
                    develop, and deploy scalable web applications that drive growth and deliver exceptional user
                    experiences.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container-sm mt-5">
    <div class="row">
        <div class="col-12">
            <h2>Benefits & Perks</h2>
            <p>Our people power Agoda, so we go above and beyond to provide exceptional benefits and perks. This
                ensures that Agodans receive all the support they need during and after office hours.</p>
        </div>
    </div>
</div>

<div class="container text-center">
    <div class="row justify-content-center">
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-6 mt-4 d-flex justify-content-center">
            <div class="benefit-item">
                <img src="/assets/img/1.png" class="img-fluid" alt="Health and Dental Insurance">
                <h6>Health and Dental Insurance</h6>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-6 mt-4 d-flex justify-content-center">
            <div class="benefit-item">
                <img src="/assets/img/2.png" class="img-fluid" alt="EAP and Mental Health Support">
                <h6>EAP and Mental Health Support</h6>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-6 mt-4 d-flex justify-content-center">
            <div class="benefit-item">
                <img src="/assets/img/3.png" class="img-fluid" alt="Hybrid Working Model">
                <h6>Hybrid Working Model</h6>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-6 mt-4 d-flex justify-content-center">
            <div class="benefit-item">
                <img src="/assets/img/4.png" class="img-fluid" alt="Relocation Package">
                <h6>Relocation Package</h6>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-6 mt-4 d-flex justify-content-center">
            <div class="benefit-item">
                <img src="/assets/img/5.png" class="img-fluid" alt="Travel Discounts">
                <h6>Travel Discounts</h6>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-6 mt-4 d-flex justify-content-center">
            <div class="benefit-item">
                <img src="/assets/img/6.png" class="img-fluid" alt="Unlimited Learning Access">
                <h6>Unlimited Learning Access</h6>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-6 mt-4 d-flex justify-content-center">
            <div class="benefit-item">
                <img src="/assets/img/7.png" class="img-fluid" alt="Work From Home Allowance">
                <h6>Work From Home Allowance</h6>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-6 mt-4 d-flex justify-content-center">
            <div class="benefit-item">
                <img src="/assets/img/8.png" class="img-fluid" alt="Team Building Budget">
                <h6>Team Building Budget</h6>
            </div>
        </div>
    </div>
</div>
