<app-header></app-header>
<div class="container-fluid header">
    <h1>Begin Your Journey with AGODA</h1>
</div>

<div class="d-flex justify-content-center">
    <form class="form-inline search-bar">
        <div class="form-group mx-2 ">
            <select class="form-control" id="teamSelect">
                <option>All Teams</option>
                <!-- Add more options as needed -->
            </select>
        </div>
        <div class="form-group mx-2">
            <select class="form-control" id="locationSelect">
                <option>All Locations</option>
                <!-- Add more options as needed -->
            </select>
        </div>
        <div class="form-group mx-2">
            <input type="text" class="form-control" placeholder="Search jobs">
        </div>
        <button type="submit" class="btn btn-primary mx-2">Search</button>
    </form>
</div>