<app-header></app-header>
<div class="container-fluid p-0">
    <div class="row justify-content-center">
        <div class="col-md-12 p-0">
            <div class="position-relative">
                <img style="height: 20rem; width: 100%; object-fit: cover;"
                    src="https://images.unsplash.com/photo-1716872491897-078d9b89be49?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    class="img-fluid" alt="...">
                <div class="students position-absolute"
                    style="bottom: 10px; left: 60px; color: white; padding: 20px; font-size: 40px; ">
                    Begin Your<br>
                    Journey with<br>
                    DIGIX
                </div>
                <div class="search-container position-absolute">
                    <div class="row height d-flex justify-content-center align-items-center">
                      <div class="col-md-8">
                        <div class="search">
                            <i class="bi bi-search"></i>
                          <input type="text" class="form-control" placeholder="Search Jobs" >
                          <button class="btn btn-primary">Search</button>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 mt-4">
            <div class="card">
                <img src="/assets/1.png" class="img-fluid" alt="...">
                
            </div>
            <h6>Health and Dental Insurance</h6>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 mt-4">
            <div class="card">
                <img src="/assets/1.png" class="img-fluid" alt="...">
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 mt-4">
            <div class="card">
                <img src="/assets/1.png" class="img-fluid" alt="...">
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 mt-4">
            <div class="card">
                <img src="/assets/1.png" class="img-fluid" alt="...">
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 mt-4">
            <div class="card">
                <img src="/assets/1.png" class="img-fluid" alt="...">
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 mt-4">
            <div class="card">
                <img src="/assets/1.png" class="img-fluid" alt="...">
            </div>
        </div>
    </div>
</div>
